.buttons {
    text-align: center;
    width: 300px;
    height: 210px;
    background-color: #789fe5;
    border-radius: 20px;
    padding-top: 20px;
}

.inc {
    font-size: 30px;
    text-align: center;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: #17944e;
}

.reset {
    font-size: 30px;
    text-align: center;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: crimson;
}

.count {
    color: red;
}

.App {
    position: absolute;
    left: 600px;
    top: 200px;
    border-radius: 10px;
}

.counts {
    text-align: center;
    line-height: 2em;
    margin-bottom: 10px;
    font-size: 50px;
    position: relative;
    left: 20px;
    width: 260px;
    height: 130px;
    background-color: #1084dd;
    border-radius: 15px;
}
